#gpt-modal {
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    border-radius: 12px;
    width: 80%;
}

dialog[open] {
    -webkit-animation: show 150ms ease-out;
}

@-webkit-keyframes show {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.gpt-modal-content {
  display: flex;
  flex-direction: column;
}

.gpt-modal-header {
    display: flex;
    padding-bottom: 16px;
    justify-content: space-between;
    align-items: center;
}

.gpt-modal-title {
    margin: 0;
}

.gpt-modal-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.gpt-body-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

label {
    margin-left: 4px;
}

.gpt-email-content {
    padding: 8px;
    border-radius: 12px;
    border: 1px solid #e0e0e0;
    resize: none;
    transition: border 0.15s ease-in-out;
}

.gpt-email-content:focus {
    border: 1px solid #3662d3;
    outline: #3662d3;
}

.gpt-email-content:read-only:focus {
    border: 1px solid #e0e0e0;
}

.gpt-modal-footer {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
}

.gpt-modal-footer-btns {
    display: flex;
    gap: 8px;
}

.gpt-modal-btn {
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out;
}

.gpt-modal-btn:hover {
    background-color: hsl(0, 0%, 80%);
}

.gpt-cancel {
    color: white;
    background-color: hsl(6, 63%, 46%);
}

.gpt-cancel:hover {
    color: white;
    background-color: hsl(6, 63%, 40%);
}

.gpt-save {
    color: white;
    background-color: hsl(222, 64%, 57%);
}

.gpt-save:hover {
    color: white;
    background-color: hsl(222, 64%, 45%);
}

#gpt-loading {
  height: 0.5rem;
  margin-bottom: 1rem;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.indeterminate-progress-bar {
    background-color: #d1d5db;
    height: 100%;
    border-radius: 9999px;
    position: relative;
    overflow: hidden;
}

.indeterminate-progress-bar__progress {
    background-color: #3b82f6;
    border-radius: 9999px;
    position: absolute;
    height: 100%;
    bottom: 0;
    top: 0;
    width: 50%;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: indeterminate-progress-bar;
}

@keyframes indeterminate-progress-bar {
    from {
        left: -50%;
    }
    to {
        left: 100%;
    }
}
